{% extends "bootstrap/base.html" %}
{% block body_content %}
    <h1>用户注册</h1>
    {% for msg in get_flashed_messages() %}
        <div style="color: red">{{ msg }}</div>
    {% endfor %}
    <form action="{{ url_for('common.register') }}" method="post">
        {{ register_form.csrf_token }}
        <div>
            <label>登录名：</label>{{ register_form.username(style = 'width:150px;display:inline-block') }}
        </div>
        <div>
            <label>真实名：</label>{{ register_form.realname(style = 'width:150px;display:inline-block') }}
        </div>

        <div>
            <label>登录密码：</label>{{ register_form.password(style='width:150px',placeholder='请输入密码') }}
        </div>
        <div>
            <label>确认登录密码：</label>{{ register_form.password_again(style='width:150px',placeholder='请再次输入密码') }}
        </div>
        <div>
            <label>电话号码：</label>{{ register_form.phone(style='width:150px',placeholder='请输入电话号码') }}
        </div>
        <div>
            <label>邮箱：</label>{{ register_form.email(style='width:150px',placeholder='请输入邮箱') }}
        </div>
        <div>
            <button type="submit">注册</button>
            <button type="reset">重置</button>
        </div>
    </form>
{% endblock %}